/* general elements */

html {
    font-size: 14pt;
    font-family: "Nunito", serif;
    font-weight: 500;
    scroll-behavior: smooth;
    --color-p: rgb(254, 253, 240);
    --color-s: rgb(248, 247, 232);
    --color-t: rgb(243, 242, 224);
    --color-f1: black;
    --color-f2: grey;
}

body {
    background-color: var(--color-p);
}

a {
    color: var(--color-f1);
}

a:hover {
    color: var(--color-f2);
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
    font-weight: 300;
}

p + p {
    margin-top: 0.5rem;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
    text-decoration: none;
}

/* header */

#header {
    margin-bottom: 1rem;
}

#header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0.7rem;
    border-bottom: 0.18rem solid var(--color-f1);
    background-color: var(--color-t);
}

#header > nav > a {
    font-size: 1.3rem;
}

#header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#header a {
    text-decoration: none;
    font-weight: 600;
}

#header > nav > ul a {
    font-size: 1.1rem;
}

/* section and aside elements */

.section-aside {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    gap: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.15rem solid var(--color-f1);
}

.section-aside + .section-aside {
    margin-top: 1rem;
}

.section-aside-reversed {
    grid-template-columns: auto 1fr;
}

.section-aside-reversed > div {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.section-aside > div > aside {
    border: 0.12rem solid var(--color-f1);
    border-radius: 0.7rem;
    padding: 0.7rem;
    background-color: var(--color-t);
    font-weight: 400;
}

.section-aside > div > aside > div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 0.5rem;
}

.section-aside > div > aside + aside {
    margin-top: 0.76rem;
}

.section-aside > section {
    padding: 1rem;
}

.section-aside > section > article > p {
    text-align: justify;
    hyphens: auto;
}

/* personal photo */

#personal_photo {
    margin: 0;
}

#personal_photo > img {
    width: 14rem;
    height: auto;
    border: 0.09rem solid var(--color-f1);
    border-radius: 0.7rem;
}

/* grid for icons and text */

.icon-text {
    display: grid;
    grid-template-columns: 1.2rem auto;
    row-gap: 0.1rem;
    column-gap: 0.4rem;
    align-items: center;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.icon-text-double {
    grid-template-columns: 1.2rem auto 1.2rem auto;
}

.icon-text > img {
    width: 100%;
    height: 1.2rem;
}

.icon-text > span {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.25rem;
}

/* grid for dates and text */

.date-text {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.8rem;
}

.date-text > span {
    text-align: right;
}

/* grid for pins */

.pins {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.pins > section {
    border: 0.09rem solid var(--color-f1);
    border-radius: 0.7rem;
    padding: 0.7rem;
    background-color: var(--color-s);
}

/* grid for icons */

.icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1.2rem);
    row-gap: 0.1rem;
    column-gap: 0.4rem;
    align-items: center;
    padding-left: 0.3rem;
    margin-top: 0.3rem;
}

.icons > img {
    width: 100%;
    height: 1.2rem;
}

/* footer */

#footer {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

/* overwrite rules for special versions of objects */

.see-more, .section-aside > section > article > p.see-more {
    font-style: italic;
    margin-top: 1rem;
    font-weight: 400;
    text-align: right;
}

.intext-icon {
    height: 1em;
}